    /* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div, iframe {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
header {
    height: 65px;
    width: 100%;
    background-color: rgba(11, 68, 113, 0.9);
    position: fixed;
    top:0;
    z-index: 10;
  }

  .logo {
    width: 124px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
  }
  .logo:hover {
    opacity: 0.7;
  }
  .header-left a {
    float: left;
  }
  
  .header-right {
    float: right;
  }
  
  .header-right:hover {
    opacity: 0.7;
  }
  
  .header-right a {
    line-height: 65px;
    color: white;
    display: block;
  }
.top-wrapper {
    width: 100%;
    height: 650px;
    background-image: url(https://wallpaperaccess.com/full/112754.jpg);
    background-size: cover;
    color: white;
    text-align: center;
  }
.main-top {
  height: 400px;
  width: 100%;
  background-color: #082841;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.photo-me{
 height: 250px;
 width: 250px;
 padding:50px 0 0 0;
}
.about {
  width: 350px;
  padding-top: 50px;
  color: white;

}
.about h1 {
  font-size: 35px;
}
.glints {
  padding-top: 10px;
}
.main-content {
  width: 100%;
  background-color: teal;
  height: 650px;
}
.container {
    width: 1170px;
    margin: 0 auto;
  }
.title h1 {
    padding-top: 250px;
  }
.kickin {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-kickin {
  width: 350px;
  margin-top: 50px;
  color: white;
  }
.kickin-tech {
  padding-top: 20px;
}
.fab {
  padding-left: 10px ;
}
ul{
  margin-left: 20px;
}
iframe {
  margin-top: 50px; 
  border: none;
}
footer {
  height: 65px;
  width: 100%;
  background-color: rgba(11, 68, 113, 1);
  top:0;
  z-index: 10;
}
.contact {
  /* text-decoration: none; */
  text-align: center;
  /* height: 20px; */
  padding-top: 20px;
}
.linkedin {
  width: 124px;
  color: white;
}