    /* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div, iframe {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body {
    margin: 0;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
header {
    height: 65px;
    width: 100%;
    background-color: rgba(11, 68, 113, 0.9);
    position: fixed;
    top:0;
    z-index: 10;
  }
.nav{
  display:flex;
  justify-content: space-between;
  align-items:center ;
}
  .logo {
    width: 124px;
    /* margin-top: 20px; */
    color: white;
    font-size: 20px;
  }
  .logo:hover {
    opacity: 0.7;
  }
  
  .header-right:hover {
    opacity: 0.7;
  }
.header-right{
  display:flex;
  justify-content: space-between;
}
  .header-right a {
    color: white;
    display: block;
  }
  .about-me {
    margin-right: 16px;
  }
.top-wrapper {
    width: 100%;
    height: 650px;
    background-image: url(https://wallpaperaccess.com/full/112754.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
  }
.main-top {
  min-height: 400px;
  width: 100%;
  background-color: #082841;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
}

.photo-me{
 height: 250px;
 width: 250px;
 padding:50px 0 0 0;

}
.about {
  width: 350px;
  padding-top: 50px;
  color: white;

}
.about h1 {
  font-size: 41px;
  margin-bottom: 20px;
}
.about p {
  text-align: justify;
  font-weight: 300;
}
.glints {
  padding-top: 10px;
}
.main-content {
  width: 100%;
  background-color: teal;
  min-height: 650px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
  }
.karep {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.kickin {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:100%;
  padding-bottom: 50px;
}
.about-kickin {
  width: 350px;
  margin-top: 50px;
  color: white;
  }
.kickin-tech {
  padding-top: 20px;
}
.fab {
  padding-left: 10px ;
}
ul{
  margin-left: 20px;
}
iframe {
  margin: 50px 30px 0 0; 
  border: none;
  width: 615px; 
  height: 345px ;
}
footer {
  height: 65px;
  width: 100%;
  background-color: rgba(11, 68, 113, 1);
  top:0;
  z-index: 10;
}
.contact {
  /* text-decoration: none; */
  text-align: center;
  /* height: 20px; */
  padding-top: 20px;
}
.linkedin {
  width: 124px;
  color: white;
  margin-right: 16px;
}
.email {
  width: 124px;
  color: white;
}

@media (max-width:760px) {
  .top-wrapper{ 
    height: 40%;
    color: rgb(58, 57, 57);
  }
  .profile {flex-direction: column-reverse;}
  .kickin {flex-direction: column;}
  .photo-profile {
    text-align: center ;
  }
  .about {
    margin: 0 auto;
  }
  iframe {
    width:100%;
  }
}